*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:#000;
color:#fff;
overflow-x:hidden;
}

/* ===== LOADER ===== */

#loader{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:#000;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
z-index:9999;
}

.logo{
font-family:'Cinzel',serif;
font-size:55px;
color:#ff0000;
letter-spacing:4px;
text-shadow:
0 0 10px red,
0 0 30px red,
0 0 60px crimson;
animation:pulse 2s infinite;
}

#loading-text{
margin-top:20px;
color:#bbb;
font-size:18px;
}

.loader-bar{
margin-top:25px;
width:280px;
height:6px;
background:#222;
border-radius:20px;
overflow:hidden;
}

.progress{
height:100%;
width:0%;
background:red;
animation:loading 3s forwards;
}

@keyframes loading{
100%{
width:100%;
}
}

@keyframes pulse{

0%{
text-shadow:0 0 10px red;
}

50%{
text-shadow:0 0 40px red,0 0 80px crimson;
}

100%{
text-shadow:0 0 10px red;
}

}

/* ===== HERO ===== */

#hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
position:relative;
overflow:hidden;
background:
radial-gradient(circle at top,#320000,#000 70%);
}

.overlay{
position:absolute;
width:100%;
height:100%;
background:
linear-gradient(
180deg,
rgba(0,0,0,.1),
rgba(0,0,0,.8));
}

.hero-content{
position:relative;
z-index:2;
padding:20px;
}

.hero-content h1{
font-family:'Cinzel',serif;
font-size:60px;
color:#ff0000;
text-shadow:
0 0 20px red,
0 0 60px crimson;
}

#typing{
margin-top:25px;
font-size:22px;
color:#ddd;
min-height:70px;
}

.btn{

display:inline-block;
margin-top:40px;

padding:18px 45px;

border:2px solid red;

color:white;

text-decoration:none;

border-radius:40px;

transition:.4s;

font-weight:bold;

}

.btn:hover{

background:red;

box-shadow:
0 0 20px red,
0 0 60px crimson;

transform:scale(1.05);

}

/* ===== SECTION ===== */

section{

padding:100px 25px;

text-align:center;

}

section h2{

font-family:'Cinzel',serif;

font-size:40px;

margin-bottom:20px;

color:#ff0000;

}

section p{

max-width:800px;

margin:auto;

font-size:18px;

line-height:1.8;

color:#ccc;

}

/* ===== Responsive ===== */

@media(max-width:768px){

.logo{
font-size:35px;
}

.hero-content h1{
font-size:38px;
}

#typing{
font-size:18px;
}

.btn{
padding:15px 30px;
}

    }
